<nav class="sidebar">
  <h1 class="sidebar_title">Void<span class="title_dot">.</span></h1>

  <div class="overview">
    <p class="overview_title">Overview</p>
    <div class="overview-item">
      <lucide-icon
        [img]="icons.AllTasks"
        name="layout-panel-left"
        [size]="20"
      ></lucide-icon>
      <span>All Tasks</span>
    </div>

    <div class="overview-item">
      <lucide-icon
        [img]="icons.Clock"
        name="layout-panel-left"
        [size]="20"
      ></lucide-icon>
      <span>Today</span>
    </div>

    <div class="overview-item">
      <lucide-icon
        [img]="icons.Calendar"
        name="layout-panel-left"
        [size]="20"
      ></lucide-icon>
      <span>Upcoming</span>
    </div>
  </div>
  <div class="line"></div>
</nav>
