<nav class="sidebar">
  <h1 class="sidebar_title">Void<span class="title_dot">.</span></h1>

  <div class="overview">
    <p class="overview_title">Overview</p>
    <div class="overview-item">
      <a href="" class="sidebar-link">
        <lucide-icon
          [img]="icons.AllTasks"
          name="layout-panel-left"
          [size]="20"
        ></lucide-icon>
        <span>All Tasks</span>
      </a>
    </div>

    <div class="overview-item">
      <a href="" class="sidebar-link">
        <lucide-icon
          [img]="icons.Clock"
          name="layout-panel-left"
          [size]="20"
        ></lucide-icon>
        <span>Today</span>
      </a>
    </div>

    <div class="overview-item">
      <a href="" class="sidebar-link">
        <lucide-icon
          [img]="icons.Calendar"
          name="layout-panel-left"
          [size]="20"
        ></lucide-icon>
        <span>Upcoming</span>
      </a>
    </div>
  </div>
  <div class="line"></div>

  <div class="categories">
    <p class="categories-title">Categories</p>
    <div class="categorie-item">
      <div class="blue circle"></div>
      <a href="">Work</a>
    </div>
    <div class="categorie-item">
      <div class="purple circle"></div>
      <a href="">Personal</a>
    </div>
    <div class="categorie-item">
      <div class="orange circle"></div>
      <a href="">School</a>
    </div>
    <div class="categorie-item">
      <div class="green circle"></div>
      <a href="">Dev</a>
    </div>
  </div>
</nav>
